.portfolio {
  width: 80%;
  background-color: burlywood;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #953afc91;
}

body {
  text-align: center;
  background-image: url('Gg SE.jpg');
  text-color: #ffffff00;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  
}

